doctype 5
html
  head
    link(rel='stylesheet', href='stylesheets/style.css')
    script(src='js/jquery.min.js')
    script(src='js/uploadpopups/popupopen.js')
  body(background=url)
    block content
