@charset  UTF-8;

/*! PassKit Online Pass Generator CSS
 
   Copyright Notice
 
   This code is Copyright 2012 Passk.it & Anatta Limited - All Rights Reserved
 
   No person may copy, modify, merge, publish, distribute, sub-license, and/or
   sell copies of the code reproduced below without the express written permission
   of the copyright owner.

   If you would like to use any portion of the code below then permission can be
   requested via email to hello@passk.it (if you ask nicely, we'll probably let you
   use it). */


pb-button::-moz-focus-inner {
    padding: 0 !important;
    border: none !important;
}

.pb-container {
    width: 1000px;
    margin: 0 auto;
}

pb-footer {
    clear: both;
    padding-top: 0;
    text-align: center;
    cursor: default;
    padding-bottom: 0;
}

pb-footer p {
    color: #c1c1c1;
    font-size: 11px;
    padding: 4px 8px;
    display: inline;
}

pb-footer p:hover {
    color: #999;
}

h1,h2,h3,h4,h5,h6 {
    margin-bottom: 15px;
}

h1 {
    font-family: "Helvetica Neue-Light","Helvetica Neue Light",Helvetica-Neue-Light,HelveticaNeueW01-45Ligh,helvetica,sans-serif;
    color: #555;
    font-size: 28px;
    font-weight: 300;
}

h2 {
    font-size: 16px;
    color: #353535;
}

h3 {
    font-size: 14px;
    color: #353535;
}

h4 {
    font-size: 13px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 11px;
    text-transform: uppercase;
    color: #999;
}

p {
    font-size: 12px;
    line-height: 20px;
}

a {
    text-decoration: none;
    outline: 0;
    color: #0477bf;
}

.pb-tipsy {
    line-height: 17px;
}

div.pb-column_last {
    margin-right: 0 !important;
}

div.pb-full {
    margin-bottom: 25px;
}

div.pb-one_half,div.pb-one_third,div.pb-two_third,div.pb-three_fourth,div.pb-one_fourth,div.pb-two_thirds {
    float: left;
    margin-right: 4%;
    margin-bottom: 25px;
}

div.pb-one_half {
    width: 48%;
}

div.pb-one_third {
    width: 30.66%;
}

div.pb-two_thirds {
    width: 65%;
}

div.pb-one_fourth {
    width: 22%;
}

.pb-large_button {
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    display: inline-block;
    width: 140px;
    text-align: left;
    text-shadow: 1px 1px rgba(0,0,0,0.85);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-right: 2px;
}

.pb-large_button span.pb-icon {
    width: 30px;
    height: 35px;
    display: block;
    background: url(../img/button_icons.png) no-repeat top left;
    float: left;
    margin-right: 12px;
}

.pb-large_button em {
    font-size: 10px;
    font-weight: 700;
    display: block;
    color: #fff;
    text-shadow: 0 1px rgba(255,255,255,0.65);
    font-style: normal;
}

.pb-large_button:active {
    -webkit-box-shadow: inset 0 0 7px #333;
    -moz-box-shadow: inset 0 0 7px #333;
    box-shadow: inset 0 0 7px #333;
}

.pb-large_button#apple {
    background: #2cbbfd;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
    background: linear-gradient(top,#2cbbfd0,#006b9d100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2cbbfd',endColorstr='#006b9d',GradientType=0);
}

.pb-large_button#apple em {
    color: #065478;
}

.pb-large_button#apple:hover {
    background: #4cc6ff;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
    background: linear-gradient(top,#4cc6ff0,#0078b0100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4cc6ff',endColorstr='#0078b0',GradientType=0);
}

.pb-large_button#android {
    background: #98d463;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
    background: linear-gradient(top,#98d4630,#66891d100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#98d463',endColorstr='#66891d',GradientType=0);
}

.pb-large_button#android em {
    color: #436c01;
}

.pb-large_button#android span.icon {
    background-position: 0 -35px;
}

.pb-large_button#android:hover {
    background: #9dda67;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
    background: linear-gradient(top,#9dda670,#70971f100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dda67',endColorstr='#70971f',GradientType=0);
}

.pb-large_button#windows {
    background: #f7a553;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
    background: linear-gradient(top,#f7a5530,#c67524100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7a553',endColorstr='#c67524',GradientType=0);
}

.pb-large_button#windows em {
    color: #9c5918;
}

.pb-large_button#windows span.icon {
    background-position: 0 -70px;
}

.pb-large_button#windows:hover {
    background: #fca14b;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
    background: linear-gradient(top,#fca14b0,#c5650b100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fca14b',endColorstr='#c5650b',GradientType=0);
}

.pb-large_button#blackberry {
    background: #525252;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
    background: linear-gradient(top,#5252520,#18171e100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#525252',endColorstr='#18171e',GradientType=0);
}

.pb-large_button#blackberry em {
    color: #9a9a9a;
    text-shadow: 0 1px #000;
}

.pb-large_button#blackberry span.icon {
    background-position: 0 -105px;
}

.pb-large_button#blackberry:hover {
    background: #616161;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
    background: linear-gradient(top,#6161610,#222100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#616161',endColorstr='#222222',GradientType=0);
}

.pb-button {
    border: 1px solid #dedede;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #555;
    display: inline-block;
    font: bold 10px/12px 'Helvetica Neue',Helvetica,sans-serif;
    padding: 6px 11px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.pb-button:active {
    -webkit-box-shadow: inset 0 0 3px #333;
    -moz-box-shadow: inset 0 0 3px #333;
    box-shadow: inset 0 0 3px #333;
}

.pb-button:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 3px #bbb;
    -moz-box-shadow: 0 0 3px #bbb;
    box-shadow: 0 0 3px #bbb;
}

.pb-button.white {
    background: #f9f9f9;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
    background: linear-gradient(top,#f9f9f90,#f0f0f0100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9',endColorstr='#f0f0f0',GradientType=0);
    border-color: #dedede #d8d8d8 #d3d3d3;
    color: #555;
    text-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 1px 1px 1px 1px #DDD;
    -webkit-box-shadow: 1px 1px 1px 1px #DDD;
    box-shadow: 1px 1px 1px 1px #DDD;
}

.pb-button.white a {
    color: #555;
}

.pb-button.gray {
    background: #cacaca;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
    background: linear-gradient(top,#cacaca0,#aeaeae100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cacaca',endColorstr='#aeaeae',GradientType=0);
    border-color: #b5b5b5 #a1a1a1 #8f8f8f;
    color: #555;
    text-shadow: 0 1px 0 #d4d4d4;
}

.pb-button.gray a {
    color: #555;
}

.pb-button.pink {
    background: #f78297;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
    background: linear-gradient(top,#f782970,#f56778100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f78297',endColorstr='#f56778',GradientType=0);
    border-color: #df6f8b #da5f75 #d55061;
    color: #913944;
    text-shadow: 0 1px 0 #f89ca9;
}

.pb-button.pink a {
    color: #913944;
}

.pb-button.orange {
    background: #f9bc70;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
    background: linear-gradient(top,#f9bc700,#d8b541100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9bc70',endColorstr='#d8b541',GradientType=0);
    border-color: #f5b74e #e5a73e #d6982f;
    color: #963;
    text-shadow: 0 1px 0 #fedd9b;
}

.pb-button.orange a {
    color: #963;
}

.pb-button.green {
    background: #cae285;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
    background: linear-gradient(top,#cae2850,#9fcb57100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cae285',endColorstr='#9fcb57',GradientType=0);
    border-color: #adc671 #98b65b #87aa4a;
    color: #5d7731;
    text-shadow: 0 1px 0 #cfe5a4;
}

.pb-button.green a {
    color: #5d7731;
}

.pb-button.blue {
    background: #a3bced;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
    background: linear-gradient(top,#a3bced0,#ba8ecc100%,#667cdd100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a3bced',endColorstr='#667cdd',GradientType=0);
    border-color: #8dc5da #76b7cf #63abc7;
    text-shadow: 0 1px 0 #b6e6f9;
}

.pb-button.blue a {
    color: #42788e;
}

.pb-button.purple {
    background: #d1badb;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
    background: linear-gradient(top,#d1badb0,#ba8ecc100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1badb',endColorstr='#ba8ecc',GradientType=0);
    border-color: #bc9db9 #ad89aa #a1799d;
    color: #7b5777;
    text-shadow: 0 1px 0 #eacae6;
}

.pb-button.purple a {
    color: #7b5777;
}

.pb-button.black {
    background: #616161;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
    background: linear-gradient(top,#6161610,#222100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#616161',endColorstr='#222222',GradientType=0);
    border-color: #4c4c4c #313131 #1f1f1f;
    color: #fff;
    text-shadow: 0 1px 0 #2e2e2e;
}

.pb-button.black a {
    color: #fff;
}

form p {
    position: relative;
}

.clear {
    clear: both;
}

h2,h3,h4,h5,h6 {
    font-family: HelveticaNeue-Bold,"Helvetica Neue Bold",HelveticaNeueW01-75Bold;
    font-weight: 400;
}

#pb-home {
    min-height: 550px;
}

.pb-helper {
    width: 150px;
    padding: 0;
    position: absolute;
    right: -20px;
}

.pb-face .pb-button.white {
    margin-left: 120px;
}

#pb-contentFront,.pb-pane {
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

.pb-upload {
    min-height: 240px;
}

.pb-toggle_list,.pb-toggle_list .pb-content {
    margin-top: 5px;
}

div.pb-toggle_list ul li div.pb-title {
    padding: 5px 10px;
}

div.pb-toggle_list ul li div.pb-title h3 {
    color: #8c8c8c;
}

div.pb-toggle_list ul li div.pb-title a.pb-toggle_link {
    top: 0;
}

#pb-colours input {
    padding-left: 10px;
    border: 0;
    border-bottom: 1px solid #e6e7e7;
    border-radius: 0;
}

.pb-footer {
    padding: 0;
}

hr {
    margin-bottom: 15px;
    opacity: .6;
}

section #pb-pages div.pb-page {
    padding-top: 10px;
}

body {
    max-height: 750px;
}

details {
    clear: both;
}

.pb-dw {
    min-width: 170px;
    padding: 0 10px;
    position: absolute;
    top: 5%;
    left: 0;
    z-index: 1001;
    color: #000;
    font-family: arial,verdana,sans-serif;
    font-size: 12px;
    text-shadow: none;
}

.pb-dwi {
    position: static;
    margin: 5px;
    display: inline-block;
}

.pb-dwwr {
    zoom: 1;
}

.pb-dwo {
    width: 100%;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: .3;
    filter: Alpha(Opacity=30);
}

.pb-dwc {
    float: left;
    margin: 0 2px 5px;
    padding-top: 20px;
}

.pb-dwcc {
    clear: both;
}

.pb-dwl {
    text-align: center;
    line-height: 30px;
    height: 30px;
    white-space: nowrap;
    position: absolute;
    top: -30px;
    width: 100%;
}

.pb-dwv {
    padding: 10px 0;
    border-bottom: 1px solid #000;
}

.pb-dwrc {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.pb-dwwc {
    margin: 0;
    padding: 0 2px;
    position: relative;
    background: #000;
    zoom: 1;
}

.pb-dwwl {
    margin: 4px 2px;
    position: relative;
    background: #888;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
}

.pb-dww {
    margin: 0 2px;
    overflow: hidden;
    position: relative;
}

.pb-dwsc .pb-dww {
    color: #fff;
    background: #444;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
}

.pb-dww ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;
}

.pb-dww li {
    list-style: none;
    margin: 0;
    padding: 0 5px;
    display: block;
    text-align: center;
    line-height: 40px;
    font-size: 26px;
    white-space: nowrap;
    text-shadow: 0 1px 1px #000;
    opacity: .3;
    filter: Alpha(Opacity=30);
}

.pb-dww li.pb-dw-v {
    opacity: 1;
    filter: Alpha(Opacity=100);
}

.pb-dww li.pb-dw-h {
    display: none;
}

.pb-dwwb {
    position: absolute;
    z-index: 4;
    left: 0;
    cursor: pointer;
    width: 100%;
    height: 40px;
    text-align: center;
}

.pb-dwwbp {
    top: 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    font-size: 40px;
}

.pb-dwwbm {
    bottom: 0;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    font-size: 32px;
    font-weight: 700;
}

.pb-dwpm .pb-dwwc {
    background: transparent;
}

.pb-dwpm .pb-dww {
    margin: -1px;
}

.pb-dwpm .pb-dww li {
    text-shadow: none;
}

.pb-dwpm .pb-dwwol {
    display: none;
}

.pb-dwwo {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: 0;
    background: 0 52% 48% 100%;
    background: 0 52% 48% 100%;
    background: 0 52% 48% 100%;
}

.pb-dwwol {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
    margin-top: -1px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #555;
}

.pb-dwbg .pb-dwb {
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    margin: 0 2px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 0 -1px 1px #000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    color: #fff;
    background: #000;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
}

.pb-dwbc {
    padding: 5px 0;
    text-align: center;
    clear: both;
}

.pb-dwbw {
    display: inline-block;
    width: 50%;
}

.pb-dwhl {
    padding-top: 10px;
}

.pb-dwhl .pb-dwl {
    display: none;
}

.pb-dwbg {
    background: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.pb-dwbg .pb-dwpm .pb-dww {
    color: #000;
    background: #fff;
    border: 1px solid #AAA;
}

.pb-dwbg .pb-dwwb {
    background: #ccc;
    color: #888;
    text-shadow: 0 -1px 1px #333;
    box-shadow: 0 0 5px #333;
    -webkit-box-shadow: 0 0 5px #333;
    -moz-box-shadow: 0 0 5px #333;
}

.pb-dwbg .pb-dwwbp {
    background: 0;
    background: 0;
    background: 0;
    background: 0;
}

.pb-dwbg .pb-dwwbm {
    background: 0;
    background: 0;
    background: 0;
    background: 0;
}

.pb-dwbg .pb-dwb-a {
    background: #3c7500;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
}

.pb-dwbg .pb-dwwl .pb-dwb-a {
    background: #3c7500;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
}

.pb-ios .pb-dw {
    padding: 40px 10px 10px;
    border: 1px solid #000;
    background: #161616;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
    color: #fff;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.pb-ios .pb-dwi {
    padding: 10px;
}

.pb-ios .pb-dwv {
    display: none;
}

.pb-ios .pb-dwwc {
    background: transparent;
}

.pb-ios .pb-dwwl {
    margin: 4px 0;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    background: #cbcce0;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
}

.pb-ios .pb-dww {
    margin: 0 3px;
    background: #fff;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.pb-ios .pb-dwpm .pb-dww {
    background: 0;
    background: 0;
    background: 0;
    background: 0;
}

.pb-ios .pb-dwpm .pb-dwwl {
    margin: 4px 2px;
}

.pb-ios .pb-dwpm .pb-dww {
    margin: 0;
    border: 0;
}

.pb-ios .pb-dww li {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    text-align: right;
    text-shadow: none;
}

.ios .dwwo {
    display: none;
}

.pb-ios .pb-dwwol {
    height: 28px;
    padding: 1px;
    margin-top: -16px;
    border-color: #161616;
    background: #6f75b0;
    background: 0;
    background: 0 50% 50%;
    background: 0 50% 50%;
    background: 0 50% 50%;
    z-index: 10;
    left: -1px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    filter: alpha(opacity=50);
}

.pb-ios .pb-dwbc {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    background: #8093b0;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
    border-bottom: 1px solid #000;
}

.pb-ios .pb-dwb {
    margin: 0 5px;
    padding: 0 10px;
    display: inline-block;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    border: 1px solid #1947bb;
    background: #2461e6;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
    box-shadow: 0 1px 0 rgba(255,255,255,0.2);
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.2);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.2);
}

.pb-ios .pb-dwb-a {
    border: 1px solid #394f76;
    background: #2461e6;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
}

.pb-ios .pb-dwwb {
    color: #fff;
    border: 0;
    background: #3f4e68;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
}

.pb-ios .pb-dwwl .pb-dwb-a {
    background: #252c36;
    background: 0;
    background: 0;
    background: 0;
    background: 0;
}

.pb-ios .pb-dwb-s {
    width: auto;
    float: right;
    text-align: right;
}

.pb-ios .pb-dwb-c {
    width: auto;
    float: left;
    text-align: left;
}

#pb-fixedBarcode,#pb-fixedBarcodeAlt {
    display: none;
}

.pb-single-pass {
    background: #000;
    width: 270px !important;
    overflow-x: hidden !important;
}

.pb-tipsy {
    font-size: 12px;
    position: absolute;
    padding: 5px;
    z-index: 110;
}

.pb-tipsy-inner {
    background-color: #000;
    color: #FFF;
    max-width: 200px;
    padding: 5px 8px 4px;
    text-align: center;
}

.pb-tipsy-inner {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.pb-tipsy-arrow {
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    border: 5px dashed #000;
}

.pb-tipsy-arrow-n {
    border-bottom-color: #000;
}

.pb-tipsy-arrow-s {
    border-top-color: #000;
}

.pb-tipsy-arrow-e {
    border-left-color: #000;
}

.pb-tipsy-arrow-w {
    border-right-color: #000;
}

.pb-tipsy-n .pb-tipsy-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-bottom-style: solid;
    border-top: 0;
    border-left-color: transparent;
    border-right-color: transparent;
}

.pb-tipsy-nw .pb-tipsy-arrow {
    top: 0;
    left: 10px;
    border-bottom-style: solid;
    border-top: 0;
    border-left-color: transparent;
    border-right-color: transparent;
}

.pb-tipsy-ne .pb-tipsy-arrow {
    top: 0;
    right: 10px;
    border-bottom-style: solid;
    border-top: 0;
    border-left-color: transparent;
    border-right-color: transparent;
}

.pb-tipsy-s .pb-tipsy-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top-style: solid;
    border-bottom: 0;
    border-left-color: transparent;
    border-right-color: transparent;
}

.pb-tipsy-sw .pb-tipsy-arrow {
    bottom: 0;
    left: 10px;
    border-top-style: solid;
    border-bottom: 0;
    border-left-color: transparent;
    border-right-color: transparent;
}

.pb-tipsy-se .pb-tipsy-arrow {
    bottom: 0;
    right: 10px;
    border-top-style: solid;
    border-bottom: 0;
    border-left-color: transparent;
    border-right-color: transparent;
}

.pb-tipsy-e .pb-tipsy-arrow {
    right: 0;
    top: 50%;
    margin-top: -5px;
    border-left-style: solid;
    border-right: 0;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.pb-tipsy-w .pb-tipsy-arrow {
    left: 0;
    top: 50%;
    margin-top: -5px;
    border-right-style: solid;
    border-left: none;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

*/#pb-preloader {
    margin: 70px 0 0 45px;
    width: 100%;
    height: 150px;
    background: #fff;
}

#pb-preloader p {
    padding: 20px 0 0 70px;
    text-align: left;
    width: 100%;
    font-size: 25px;
    opacity: .6;
}

.pb-preloader {
    display: none;
}

#pb-ipc {
    position: relative;
    top: 0;
    left: 0;
    width: 320px;
    height: 620px;
    background: url(../img/iphone.svg) no-repeat top left;
    font-family: HelveticaNeue-Light,"Helvetica Neue Light",HelveticaNeueW01-45Ligh;
    display: none;
    overflow: hidden;
}

.pb-sc {
    position: relative;
    top: 2px;
    left: 2px;
    width: 276px;
    height: 367px;
    background: #000;
    border: #000;
    text-align: center;
}

.pb-sov {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 640px;
    z-index: 110;
    background: url(../img/iphoneoverlay.svg);
}

.pb-done {
    padding: 0;
    font-size: 11px;
    text-align: center;
    position: absolute;
    top: 5px;
    right: 10px;
    width: 39px;
    height: 23px;
    background: transparent;
    border-radius: 5px;
    border: rgba(60,60,60,0.5) solid 1px;
    border-bottom: rgba(60,60,60,0.3) solid 1px;
    box-shadow: 0 2px 2px -2px #FFF;
    z-index: 105;
}

.pb-done:hover {
    background: rgba(20,20,20,0.1);
    cursor: pointer;
}

.pb-titleText {
    position: absolute;
    top: 136px;
    left: 75px;
    width: 170px;
    height: 23px;
    text-align: center;
    font-size: 16px;
    color: #fcfcfc;
    font-family: "Helvetica Neue",Helvetica-Neue,HelveticaNeueW01-55Roma;
}

.pb-barcodeOuter {
    position: absolute;
    bottom: 23px;
    width: 244px;
    z-index: 104;
    overflow: hidden;
}

.pb-sq .pb-barcodeOuter {
    bottom: 8px;
}

.pb-sq .pb-barcodeOuter p {
    max-width: 198px;
}

.pb-barcodeHack {
    float: left;
    position: relative;
    left: 50%;
}

#pb-barcodeContainer {
    float: left;
    position: relative;
    left: -50%;
    padding: 5px 7px 0;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.4);
    box-shadow: 0 1px 1px rgba(0,0,0,0.4);
}

#pb-barcodeContainer p {
    min-height: 6px;
    padding: 0 3px;
    max-width: 242px;
    overflow: hidden;
    margin: -4px 0 0;
    color: #AAA;
    white-space: nowrap;
    text-align: center;
    font-size: 12px;
}

#pb-barcode {
    width: 100%;
}

.pb-pdf417 #pb-barcode,.pb-pdf417_e #pb-barcode {
    width: 100%;
    min-width: 202px;
    background: #fff;
    min-height: 43px;
}

.pb-aztec,.pb-aztec_e {
    width: 100%;
    min-width: 110px;
    background: #fff;
    padding: 5px 2px 3px;
}

.pb-aztec #pb-barcode img,.pb-aztec_e #pb-barcode img {
    padding: 6px 10px 0;
}

.pb-qr #pb-barcode img,.pb-qr_e #pb-barcode img {
    padding: 0 6px;
}

.pb-nobc,.pb-plainText div#pb-barcode img {
    display: none;
}

#pb-barcodeContainer p {
    max-width: 210px;
    text-overflow: ellipsis;
}

#pb-barcodeContainer.qr,#pb-barcodeContainer.qr_e {
    padding: 6px 0 0;
}

#pb-barcodeContainer.qr p,#pb-barcodeContainer.qr_e p {
    min-height: 7px;
    max-width: 124px;
}

#pb-barcodeContainer.aztec,#pb-barcodeContainer.aztec_e {
    padding: 5px 0 0;
}

#pb-barcodeContainer.aztec p,#pb-barcodeContainer.aztec_e p {
    min-height: 12px;
    max-width: 124px;
}

#pb-barcodeText {
    text-align: center;
}

.pb-qr,pb-qr_e {
    width: 100%;
    min-width: 110px;
    background: #fff;
}

.pb-eventTicketTop,.pb-couponTop,.pb-couponBottom,.pb-boardingTop,.pb-genericTop,.pb-eventImage,.pb-storeTop {
    display: block;
    z-index: 99;
    position: absolute;
}

.pb-eventTicketTop {
    bottom: 321px;
    left: 0;
    width: 270px;
    height: 20px;
    background: url(../img/event-top.svgz);
    z-index: 90;
}

.pb-couponTop {
    bottom: 321px;
    display: none;
    left: 0;
    width: 270px;
    height: 20px;
    background: url(../img/coupon-top.svgz);
    z-index: 20;
}

.pb-couponBottom {
    bottom: 0;
    display: none;
    left: 0;
    width: 270px;
    height: 5px;
    background: url(../img/coupon-bot.svg);
    z-index: 20;
}

.pb-storeTop {
    display: none;
    bottom: 321px;
    left: 0;
    width: 270px;
    height: 20px;
    background: url(../img/round-top.svgz);
    z-index: 90;
}

.pb-boardingTop
    display: none;
    bottom: 282px;
    left: 0;
    width: 270px;
    height: 10px;
    background: url(../img/boarding.svgz);
}

.pb-genericTop {
    display: none;
    bottom: 282px;
    left: 0;
    width: 270px;
    height: 10px;
    background: url(../img/generic.svgz);
}

.pb-eventImage {
    bottom: 0;
    left: 0;
    width: 270px;
    height: 341px;
    display: none;
    z-index: 20;
}

.pb-pass {
    position: relative;
    top: 3px;
    left: 3px;
    width: 244px;
    height: 341px;
    padding: 0 13px;
    z-index: 11;
}

.pb-passLogo {
    position: absolute;
    left: 13px;
    bottom: 292px;
    width: 244px;
    height: 43px;
    text-align: left;
    z-index: 98;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pb-passLogo img {
    float: left;
    padding-right: 8px;
}

.pb-passLogo p {
    display: inline;
}

.pb-passLogo p {
    position: relative;
    top: 10px;
}

.pb-passLogo p {
    font-family: "Helvetica Neue",Helvetica-Neue-Medium,HelveticaNeueW01-Medium,HelveticaNeue-Medium,"Helvetica Neue Medium";
    text-align: left;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pb-thumbnail {
    position: absolute;
    bottom: 200px;
    right: 13px;
    z-index: 98;
    display: none;
    height: 76px;
}

.pb-thumbnail .pb-tinner {
    padding: 5px;
    -moz-box-shadow: 0 0 1px #CCC;
    -webkit-box-shadow: 0 0 1px #CCC;
    box-shadow: 0 0 1px #888;
}

.pb-thumbnail img {
    max-width: 68px;
    max-height: 68px;
    display: block;
    position: relative;
    top: 0;
    right: 0;
    vertical-align: top;
    -moz-box-shadow: 0 0 1px #888,0 0 0 5px #fff;
    -webkit-box-shadow: 0 0 1px #888,0 0 0 5px #fff;
    box-shadow: 0 0 1px #888,0 0 0 5px #fff;
    background: #transparent;
}

#pb-footerImage {
    height: 13px;
    margin: 0 auto 3px;
    display: none;
    border: 0;
}

.pb-boardingPass #pb-footerImage {
    display: block;
}

.pb-back,.pb-stripShine {
    position: absolute;
    left: 0;
    bottom: 182px;
    width: 270px;
    height: 106px;
    z-index: 98;
    background-size: 270px 106px !important;
    background-repeat: no-repeat;
}

.pb-stripShine {
    background-image: url(../img/stripShine.svgz);
    background-size: 270px 106px !important;
    z-index: 99;
    display: none;
}

.pb-simg .pb-stripShine {
    display: block;
}

.pb-sq .pb-back,.pb-sq .pb-stripShine {
    height: 93px;
    bottom: 195px;
    background-size: 270px 93px !important;
}

.pb-eventTicket .pb-back,.pb-eventTicket .pb-stripShine {
    height: 74px;
    bottom: 214px;
    background-size: 270px 74px !important;
}

.pb-eventTicket.bg .pb-stripShine {
    display: none !important;
}

.pb-eventTicket .pb-stripShine {
    background-size: 270px 74px !important;
    background-image: url(img/stripShinee.svgz) !important;
}

.pb-sq .pb-stripsShine {
    background-size: 270px 93px !important;
    background-image: url(img/stripShines.svgz);
}

.pb-info {
    position: absolute;
    bottom: 8px;
    left: 246px;
    width: 16px;
    height: 16px;
    z-index: 110;
    background: url(img/info.svg) no-repeat;
    border-radius: 8px;
    border: 0;
}

.pb-info.dark {
    background: url(img/info-dark.svg) no-repeat;
}

.pb-info:hover {
    box-shadow: 0 0 12px 5px rgba(255,255,255,1);
    background: rgba(255,255,255,0.7) url(img/info-hover.svg) no-repeat;
    cursor: pointer;
}

.pb-transport {
    position: absolute;
    bottom: 235px;
    left: 118px;
    width: 34px;
    height: 34px;
    z-index: 106;
    display: none;
}

.pb-sq .pb-transport {
    width: 26px;
    height: 26px;
    bottom: 245px;
    left: 122px;
}

.pb-pass {
    background: #fefefe;
}

.pb-info {
    background: url(img/info.svg);
}

.pb-boardingTop {
    background: url(img/boarding.svgz);
}

.pb-genericTop {
    background: url(img/generic.svgz);
}

.pb-foreground {
    color: #d9bd89;
    display: none;
}

span .pb-foreground {
    display: inline;
}

.pb-label {
    color: #f1f1f1;
    display: none;
}

.pb-air {
    background: url(img/plane.svg);
    background-size: 34px 34px;
}

.pb-train {
    background: url(img/train.svg);
    background-size: 34px 34px;
}

.pb-bus {
    background: url(img/bus.svg);
    background-size: 34px 34px;
}

.pb-boat {
    background: url(img/boat.svg);
    background-size: 34px 34px;
}

.pb-gen {
    background: url(img/gen.svg);
    background-size: 34px 34px;
}

.pb-sq .pb-air,.pb-sq .pb-train,.pb-sq .pb-bus,.pb-sq .pb-boat,.pb-sq .pb-gen {
    background-size: 26px 26px;
}

#pb-back {
    font-family: "Helvetica Neue",Helvetica-Neue,HelveticaNeueW01-55Roma;
}

#pb-back p {
    line-height: normal;
}

#pb-back .pb-update {
    font-weight: 700;
    position: absolute;
    top: 10px;
    left: 13px;
    width: 244px;
    z-index: 100;
    overflow: hidden;
}

.pb-backInner,.pb-backInner .pb-label,.pb-backInner .pb-foreground,.pb-backNotice {
    color: #888 !important;
    text-align: left;
    text-shadow: none !important;
}

.pb-backOuter {
    border-radius: 5px;
    background: #f6f6f6;
    padding: 5px 4px 4px;
    border: 1px solid #ccc;
    width: 250px;
    min-height: 289px;
    max-height: 290px;
    overflow-y: auto;
    position: absolute;
    top: 34px;
    left: 4px;
    border: 1px solid border:;
    z-index: 50;
    overflow: hidden;
}

.pb-backHack {
    width: 110%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 290px;
}

.pb-backInner {
    min-height: 30px;
    border-radius: 5px;
    background: #fefffe;
    width: 228px;
    border: 1px solid #ccc;
    padding: 0 10px 8px;
    overflow: hidden;
}

.pb-backInner label {
    height: 17px;
}

.pb-backInner .pb-label {
    font-family: HelveticaNeue-Bold,"Helvetica Neue Bold",HelveticaNeueW01-75Bold;
    width: 213px;
    font-weight: 400;
    font-size: 11px;
    padding-top: 9px;
    border-top: #eee solid 1px;
}

.pb-backInner .pb-foreground {
    font-size: 15px;
    padding: 7px 8px 10px;
    width: 213px;
    height: auto;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
    font-family: HelveticaNeue-Thin,"Helvetica Neue Thin",HelveticaNeueW01-Thin;
}

.pb-backInner .pb-label.first {
    border: 0;
    padding-bottom: 5px;
}

#pb-back .pb-eventImage {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: FlipH;
}

.pb-notify,.pb-lockScreen {
    font-size: 14px;
}

.pb-notify label,.pb-lockScreen label {
    font-family: HelveticaNeue-Bold,"Helvetica Neue Bold",HelveticaNeueW01-75Bold;
    margin: 10px 0 4px;
    font-weight: 400;
}

p.pb-backNotice,p.pb-lockScreen {
    font-size: 11px;
    margin: 3px 0 10px;
    width: 250px;
    text-align: center;
    font-weight: 400;
}

.pb-toggle {
    width: 235px;
    height: 24px;
    right: 11px;
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
}

.pb-toggle label {
    position: relative;
    top: 0;
    z-index: 3;
    display: block;
    width: 100%;
    padding: 3px 0 3px 10px;
    color: #888;
}

.pb-toggle input {
    position: absolute;
    opacity: 0;
    z-index: 5;
}

.pb-toggle-button {
    border-radius: 12px;
    z-index: 5;
}

.pb-toggle label:pb-after {
    content: '';
    position: absolute;
    top: -2px;
    right: 3px;
    z-index: 0;
    display: block;
    width: 49px;
    height: 18px;
    padding: 3px 8px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 12px;
    -webkit-box-shadow: 1px 13px 0 rgba(40,40,40,0.1) inset,0 2px 3px rgba(40,40,40,0.2) inset;
    -moz-box-shadow: 1px 13px 0 rgba(40,40,40,0.1) inset,0 2px 3px rgba(40,40,40,0.2) inset;
    box-shadow: 1px 13px 0 rgba(40,40,40,0.1) inset,0 2px 3px rgba(40,40,40,0.2) inset;
    white-space: pre;
    overflow: hidden;
    color: #7f7f7f;
    font-family: "Helvetica Neue",Helvetica-Neue,HelveticaNeueW01-55Roma;
    font-size: 14px;
    font-weight: 700;
    text-align: right;
}

.pb-toggle span {
    display: block;
    position: relative;
    right: -175px;
    z-index: 4;
    top: -28px;
    width: 22px;
    height: 22px;
    border: 1px solid #bbb;
    background-color: #f7f7f7;
    background-image: 0;
    background-image: 0;
    background-image: 0;
    background-image: 0;
    background-image: linear-gradient(top,#d4d4d4,#f7f7f7);
    box-shadow: inset 0 1px 2px rgba(255,255,255,1),0 1px 1px rgba(0,0,0,0.12);
    border-radius: 11px;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.pb-toggle input:checked ~ span {
    right: -219px;
}

.pb-toggle input:checked+label:after {
    background-color: #3a89e5;
    border-color: #ccc;
    text-align: left;
    color: #FFF;
}

#pb-back.pb-backPass {
    display: none;
}

@media-webkit-transform-3d {
    #pb-back.pb-backPass {
        display: inline;
    }
    
    #pb-pass,#pb-back,details,.pb-animate {
        -webkit-transition: 0 .7s linear;
        -moz-transition: 0 .7s linear;
        -o-transition: 0 .7s linear;
        transition: all .7s linear;
    }
    
    #pb-back {
        -webkit-backface-visibility: hidden !important;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    
    .pb-backPass {
        -webkit-transform: rotateY(180deg);
        -webkit-backface-visibility: hidden !important;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
    }

}

.pb-label,.pb-foreground {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 244px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    z-index: 100;
}

.pb-label {
    font-size: 10px;
}

.pb-foreground {
    font-size: 13px;
}

.pb-labels {
    display: inline-block;
    width: 100%;
    z-index: 100;
}

.pb-values {
    display: inline-block;
    width: 100%;
    z-index: 100;
}

.pb-label:not(.done,.update) {
    font-size: 10px;
    font-family: HelveticaNeueW01-65Medi;
}

.pb-stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

#pb-p1V,#pb-p2V,#pb-p1L,#pb-p2L {
    position: absolute;
}

.pb-a2,.pb-a3,.pb-a4,.pb-a5,.pb-s2,.pb-s3,.pb-s4 {
    margin-left: 14px;
}

#pb-header {
    width: 95px;
}

#pb-header .pb-labels {
    position: absolute;
    bottom: 320px;
    right: 13px;
    height: 13px;
    text-align: right;
}

#pb-header .pb-values {
    position: absolute;
    bottom: 295px;
    right: 13px;
    text-align: right;
    height: 22px;
    line-height: ;