body {
font: 13px/1.231 arial,helvetica,clean,sans-serif;
font-family: arial, helvetica, clean, sans-serif;
font-size: 13px;
font-style: normal;
font-variant: normal;
font-weight: normal;
line-height: 1.231;
}

